header {
    width: 100%;
    height: 90px;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-links-container{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    font-size: 20px;
    font-weight: 900;
}

.page-links-container li > a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 220px;
    height: 70px;
}